{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
	
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
{% block css %}
{% endblock %}
</style>

	{% block title %}
	<title>Title</title>
	{% endblock %}
	<!-- Google font -->
	{% block link %}
	{% endblock %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
</head>

<body>


<div class="navbar">
		{% block nav %}
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
  <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
  		{% endblock %}

</div>

	{% block content %}	

	{% endblock %}

</body>

</html>
