{% extends "base_generic.html" %}
{% block title %}
{{user.username}} | Teams 
{% endblock %}

{% block nav %}
<a href="{% url 'logout'%}"><i class="fa fa-fw fa-user"></i>Logout</a>
{% endblock %}




{% block content %}
<div class="container">
    <h1 class='section_header'>My Teams</h1>
    <a class="btn waves-effect waves-light blue" href="{% url 'home' %}">
        <i class="fas fa-chevron-left"></i> Back</a>
    <a class="btn waves-effect waves-light blue" href="{% url 'createTeam' %}">Create Team</a>
    {% if teams %}
    <table class="striped highlight">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.creator.username }}</td>
                <td>
                    <a class="btn waves-effect waves-light blue" href="{% url 'tasks'%}{{team.pk}}">
                        Show Tasks</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div id='message_section'>
        You are not a member of any team.
    </div>
    {% endif %}
</div>

    {% if msg %}
    <h1> {{msg}} </h5>
    {% endif %}


{% endblock %}

