{% extends "base_generic.html" %}

{% block title %}Team Details{% endblock %}

{% block content %}


<div class="container" style="margin-bottom: 60px;">
    <a class="btn waves-effect waves-light blue" href="{% url 'teams' %}">
        <i class="fas fa-chevron-left"></i> Back</a>
    
    <h1 class='section_header'>{{team.name}}</h1>
    <h6> Created by {{team.creator}} on {{team.createdAt}}</h6>
    <br>

    {% if members %}
    <h4 class="section_header">Team Members:</h4>
    <table class="striped highlight">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ team.creator.username }}</td>
                <td>{{ team.creator.first_name}} {{team.creator.last_name}} </td>
                <td>Creator</td>
                
            </tr>
            {% for member in members %}
            <tr>
                <td>{{ member.username }}</td>
                <td>{{ member.first_name}} {{member.last_name}} </td>
                <td>Member</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}
