{% extends "base_generic.html" %}
{% block title %}
<title> Login </title>
{% endblock %}
{% block nav %}
          <a href="http://127.0.0.1:8000/">Home</a>
          <a href="http://127.0.0.1:8000/accounts/register"><i class="fa fa-fw fa-user"></i>Register</a>
{% endblock %}
{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" style="width:410px;margin:auto;text-align: center;">
{% csrf_token %}
<table cellpadding="0">

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>
<br>
<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" class="main-btn submit" id="sub" value="login" style="width:100px;padding:6px;border:1px solid black;margin-top:10px;" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p style="text-align: center"><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}