{% extends "base_generic.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<h1 style="text-align: center;"> Task Manager </h1> 

<form method="post" action="{% url 'login' %}" style="width:410px;margin:auto;text-align: center;">
{% csrf_token %}
<table cellpadding="0">
{{form.as_table}}
</table>

<input type="submit" class="main-btn submit" id="sub" value="login" style="width:100px;padding:6px;border:1px solid black;margin-top:10px;" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p style="text-align: center"><a href="{% url 'password_reset' %}">Lost password?</a></p>
<br>
<p style="text-align: center"><a href="{% url 'registerUser' %}">Don't have account?</a></p>


{% endblock %}